<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213503018520-9segiu2b1adtcirdqb4ipsh4m5sui2bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213503018520-9segiu2b1adtcirdqb4ipsh4m5sui2bd</string>
	<key>API_KEY</key>
	<string>AIzaSyAcLie6bWziThVI1G2FOwpyxAVEXu3ziXE</string>
	<key>GCM_SENDER_ID</key>
	<string>213503018520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skillmatrix.app.skillmatrix</string>
	<key>PROJECT_ID</key>
	<string>skillmatrix-f75fe</string>
	<key>STORAGE_BUCKET</key>
	<string>skillmatrix-f75fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213503018520:ios:6e47411e5a064e4012256d</string>
</dict>
</plist>